.App {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.App-item-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.App-header {
  min-height: 20vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}